<form method="POST" action="/books/new">
    Title: <input type="text" name="title"> <br>
<!-- <input type="text" name="author_id"> <br>-->


    Author: 
<select name="author_id">
    <%@authors.each do |author|%>
        <option value= "<%=author.id%>"><%= author.full_name %></option>
    <% end %>
</select>


    Snippet: <input type="text" name="snippet"><br>
    <input type="submit" value="button pls">
</form>